<%# <h1>As a user I can see one flat</h1> %>
<div class="flat-img-container">
  <img src="<%= @flat.photos %>" class="" alt="flat_photo">
</div>
<%= @flat.name %>
<%= @flat.address %>
<%# <h2>As a user I can see reviews of the flat</h2> %>
<h1>Reviews</h1>
